{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h2>Diffraction Diagram</h2>
</div>
<p>
  <div id="xrdplot" style="width:1200px;height:400px;"></div>
</p>
<h2>Phases</h2>
<table class="table">
  <tr>
    <th>Mineral</th>
    <th>Mass %</th> 
  </tr>
  {%- for row in phaselist %}
  <tr>
  {%- for column in row %}
    <td>{{ column }}</td>
  {%- endfor %}
  </tr>
{%- endfor %}
</table>
<div><a href="/csv?key={{ url_text }}" type="button" class="btn btn-lg btn-success">Download CSV File</button></a></div>
<script>
  var trace1 = {
  x: {{ angle }},
  y: {{ diff }},
  mode: 'lines',
  line: {
  color: 'rgb(128, 0, 0)',
  width: 1
  },
  name: 'Diff',
  };
  
  var trace2 = {
  x: {{ angle }},
  y: {{ bgpoly }},
  mode: 'lines',
  line: {
  width: 1
  },
  name: 'BGPoly',
  };

  var trace3 = {
  x: {{ angle }},
  y: {{ sum }},
  mode: 'lines',
  line: {
  width: 1
  },
  name: 'Sum',
  };

  var data = [trace1, trace2, trace3];

var layout = {
showlegend: true,
title: '{{ samplename }}',
  xaxis: {
    showgrid: true,
    zeroline: true,
    showline: true,
    title: '2-theta (deg)',
    gridwidth: 1,
    zerolinecolor: '#969696',
    zerolinewidth: 1,
    linecolor: '#636363',
    linewidth: 1,
    mirror: 'ticks',
    gridcolor: '#bdbdbd'
  },
  yaxis: {
    title: 'Intensity',
    showgrid: true,
    zeroline: true,
    gridwidth: 1,
    showline: true,
    zerolinecolor: '#969696',
    zerolinewidth: 1,
    linecolor: '#636363',
    linewidth: 1,
    mirror: 'ticks',
    gridcolor: '#bdbdbd'
  },
};

    Plotly.plot(document.getElementById('xrdplot'), data, layout);
</script>
{% endblock %}

