{% extends "base.html" %}
{% block title %}Modes{% endblock %}
{% block content %}
            <div class="page-header">
                <h3>Analysis Modes</h3>
            </div>
	    <div class="container">
	      <div class="row">
		<div class="col-sm-4">
		  <label class="radio-inline"><input type="radio" name="optradio">Option 1</label>
		  <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
		  <label class="radio-inline"><input type="radio" name="optradio">Option 3</label>
		</div>
	      </div>
	    </div>
	    
            <form id="mode-list" class="form-horizontal" role="form" method="post" action="/modes">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Modes
                    </div>
                    <div class="panel-body">
                        <a href="/modes/create" class="btn btn-success">Create</a>
                        <input type="submit" class="btn btn-danger" name="delete" value="Delete">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th></th>
				    <th class="col-md-2">Name</th>
				    <th class="col-md-2">Description</th>
                                    <th class="col-md-2">Lambda</th>
                                    <th class="col-md-2">FWHMA</th>
                                    <th class="col-md-2">FWHMB</th>
                                    <th class="col-md-1">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mode in modes %}
                                <tr>
                                    <td><input type="checkbox" name="bid" value="{{ mode.key.id() }}"></td>
                                    <td>{{ mode.title }}</td>
                                    <td>Blah blah</td>
                                    <td>{{ mode.qlambda }}</td>
                                    <td>{{ mode.fwhma }}</td>
                                    <td>{{ mode.fwhmb }}</td>
                                    <!-- get numeric ID of entity key -->
                                    <td><a href="/modes/edit?id={{ mode.key.id() }}">Edit</a></td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">No Mode Found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
{% endblock %}
