{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1>Phase Profile</h1>
</div>
<form action="/savePhase">
  <div class="container">
  <div class="row">
    <div class="col-xs-3">
      <select id="leftValues" multiple="multiple" class="form-control" size="20">
      </select>
    </div>
    <div class="col-xs-3" class="form-control">
      <input type="button" id="btnLeft" value="&lt;&lt;" />
      <input type="button" id="btnRight" value="&gt;&gt;" />
    </div>
    <div class="col-xs-3">
      <select name="phase" id="rightValues" multiple="multiple" class="form-control" size="20">
      </select>
  </div>
  </div>
  </div>
<p>
  <button type="submit" class="btn btn-primary">Save Phase Profile</button>
</p>
</form>
<script>
var $select = $("#leftValues");
$.getJSON("/phaselist.json", function(data){
	$select.html('');
	var listitems;
	$.each(data, function(key, value){
		listitems += '<option value=' + key + '>' + key + '</option>';
	});
	$select.append(listitems);
});

$("#btnLeft").click(function () {
    var selectedItem = $("#rightValues option:selected");
    $("#leftValues").append(selectedItem);
});

$("#btnRight").click(function () {
    var selectedItem = $("#leftValues option:selected");
    $("#rightValues").append(selectedItem);
});

$("#rightValues").change(function () {
    var selectedItem = $("#rightValues option:selected");
    $("#txtRight").val(selectedItem.text());
});
</script>
{% endblock %}
