{% extends "base.html" %}
{% block content %}
<div id="tester" style="width:1200px;height:400px;"></div>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Modes
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
    </div>
<div>
<select onmousedown="this.value='';" onchange="jsFunction(this.value);">
  <option value="1">Mode 1</option>
  <option>Mode 2</option>
  <option>Mode 3</option>
</select>
    </div>
<script>
function jsFunction(value)
{
    alert(value);
}

$( document ).ready(function() {
	$.ajax({
	    url: "/crank",
	    type: 'GET',
	    dataType: 'json', // added data type
	    success: function(arrays) {
		DrawChart(arrays);  
	    }
	});
    });

function DrawChart(arrays)
{
    var angle = arrays.angle;
    var diff = arrays.diff;
    var bgpoly = arrays.bgpoly;
    var calcdiff = arrays.calcdiff;
    var filename = arrays.filename;

    var trace1 = {
	x: null,
	y: null,
	mode: 'lines',
	line: {
	    width: 1
	},
	name: 'Diff',
    };

    var trace2 = {
	x: null,
	y: null,
	mode: 'lines',
	line: {
	    color: 'rgb(128, 0, 0)',
	    width: 1
	},
	name: 'BGpoly',
    };

    var trace3 = {
	x: null,
	y: null,
	mode: 'lines',
	line: {
	    width: 1
	},
	name: 'Sum',
    };

    trace1.x = angle;
    trace1.y = diff;
    trace2.x = angle;
    trace2.y = bgpoly;
    trace3.x = angle;
    trace3.y = calcdiff;
    
    var data = [trace1, trace2, trace3];
    
    var layout = {
	showlegend: true,
	title: null,
	xaxis: {
	    showgrid: true,
	    zeroline: true,
	    showline: true,
	    title: '2-theta (deg)',
	    gridwidth: 1,
	    zerolinecolor: '#969696',
	    zerolinewidth: 1,
	    linecolor: '#636363',
	    linewidth: 1,
	    mirror: 'ticks',
	    gridcolor: '#bdbdbd'
	},
	yaxis: {
	    title: 'Intensity',
	    showgrid: true,
	    zeroline: true,
	    gridwidth: 1,
	    showline: true,
	    zerolinecolor: '#969696',
	    zerolinewidth: 1,
	    linecolor: '#636363',
	    linewidth: 1,
	    mirror: 'ticks',
	    gridcolor: '#bdbdbd'
	},
    };

    layout.title = filename;
    
    Plotly.plot(document.getElementById('tester'), data, layout);
}
</script>
{% endblock %}
